#root {
/**  max-width: 1280px;**/
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Fira Sans",sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding-top: 2rem;
}

/** TRU Color Themes **/

.primary-background {
  background: rgba(255,255,255,.8);
}
.primary {
  background: #003e51;
}

.secondary {
  background: #00b0b9;
}

.third {
  background: #fff5de;
}

.fourth {
  background: #ffcd00;
}

.btn-primary {
  background-color: #003E51;
  border: solid 1px #00B0B9;
  color: #fff;
  transition: color 0.25s;
  transition: background-color 0.25s;
}

.btn-primary:hover {
  background-color: #00B0B9;
  border: solid 1px #003E51;
  color: #fff;
}

/** Navigation Bar **/

ul.nav-elements {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

ul.nav-elements li {
  height: 50px;
  width: 75px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;

  transition: background-color 0.25s;
}

ul.nav-elements li:hover {
  cursor: pointer;
  background-color: #00B0B9;
  color: #fff;

  transition: background-color 0.25s;
}

ul.nav-elements li img {
  height: 32px;
  width: 32px;
}

nav dialog {
  width: 200px;
  height: 300px;
}

form.nav-dialog {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

button.cross-btn {
  height: 32px;
  width: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
	color: inherit;
	border: none;
	margin: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  position: absolute;
  top: 0;
  right: 0;
}

button.cross-btn img {
  height: 32px;
  width: 32px;
  border-radius: 50%;

  transition: background-color 0.25s;
}

button.cross-btn img:hover {
  background-color: red;
}

div.submitting {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 25%;

}

/** Weekday Table **/

.schedule-table {
  max-height: 80vh;
  width: 82vw auto;

  margin: .8rem auto;

  border-radius: .6rem;
  background-color: #fff;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 5px 25px -8px rgba(0, 0, 0, 0.25);

  overflow-y: auto;
  overflow-x: hidden;
}

.schedule-table::webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.schedule-table::webkit-scrollbar-thumb {
  background-color: black;
  visibility: hidden;
}

.schedule-table:hover::webkit-scrollbar-thumb {
  visibility: visible;
}

th.weekday {
  z-index: 9;
  background-color: #00b0b9;
  min-width: 125px;
}

th.time {
  z-index: 10;
  background-color: #00b0b9;
}

td.time {
  background-color: white;
  border-right: 1px solid #D2D2CF;
  border-collapse: collapse;
}

.day-list {
  position: relative;
  border-right: 1px solid #D2D2CF;
  border-collapse: collapse;
}

.time {
  position: sticky;
  z-index: 9;
  top: 0;
  left: 0;
}

.time div, .day-list div {
  height: 100px;

  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;

  position: relative;
}

.time div hr, .day-list div hr {
  border: none;
  width: 100%;
  border-top: 1px solid #D2D2CF;
}

.day-list div hr.dashed-line {
  position: absolute;
  top: 50%;

  border-top: 1px dashed #D2D2CF;
}

/** Week List **/

.card {
  position: absolute;
  width: 110px;
  background-color: #FFEFA9;

  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  left: 50%;
  translate: -50% 0;

  border-radius: 4px;
  border: 1px solid transparent;
  text-align: left;
}

.card:hover {
  cursor: pointer;
}

/** Add Session Dialog **/

#chapter {
  width: 9.5rem;
}

button#chapter {
  height: 2.5rem;
  width: 2.5rem;
}

/** Add Session Dialog - General Div **/

.session-div {
  width: 310px;
  position: relative;
}

.session-div h4 {
  position: absolute;
  left: 0;
  top: 0px;
}

form.add-session-dialog {
  width: 300px;
}

/** Add Session Dialog - Day Table **/

.session-div table {
  width: 100%;
  overflow: auto;

  display: flex;
  padding: 2rem 0 .75rem 0;
  margin: 0 0 .5rem 0;
}

.session-div tr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: space-between;
  gap: 5px;
}

.session-div tr td {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;

  border: solid 3px #003e51;
  border-radius: 25px;

  width: 100px;
  max-width: 100px;

  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.session-div::webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.session-div::webkit-scrollbar-thumb {
  background-color: black;
  visibility: hidden;
}

.session-div:hover::webkit-scrollbar-thumb {
  visibility: visible;
}

/** Add Session Dialog - Selecting Time **/

.session-div div.time-select {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  border: solid 3px #003e51;
  border-radius: 25px;

  width: 310px;
  height: 75px;
  margin: 2rem 0 2rem 0;

  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.session-div div.time-select div {
  position: relative;
}

.session-div div.time-select div h4 {
  position: absolute;
  top: 0;
  left: 0;
}

.session-div div input {
  font-size: 18px;
  width: 120px;
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
  margin: 20px 0 0 0;
  border-bottom: none;
}

/** Add Session Dialog - Selecting Course **/

.session-div div.course {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 2rem 0 1rem 0;
}

/** Add Session Dialog - Selecting Chapters **/ 

.session-div ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 2rem 0 0 0;
}

.session-div ul li {
  padding: 0 1rem 0 1rem;
}

@media only screen and (max-width: 1000px) {
  th.weekday {
    min-width: 90px;
  }
  .card {
    width: 85px;
  }
}

@media only screen and (max-width: 768px) {
  .schedule-table {
    width: 98%;
    min-width: 98%;

    max-height: 70vh;
  }
}
