:root {
  margin: 0;
  line-height: 1.5;
  font-weight: 400;

  /**color-scheme: light dark;**/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

nav {
  height: 50px;
  background-color: #003e51;
  color: #fff5de;
  position: relative;
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: auto;
}

li {
  list-style-type: none;
}

dialog {
  width: auto; 
  height: auto;

  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  border: none !important;
  border-radius: 10px;

  background-color: rgba(255,255,255,.8);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
}

dialog form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

::backdrop {
  background-color: black;
  opacity: 0.5;
}

@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  height: 2.5rem;
  width: 12rem;
  margin-bottom: 3vh;

  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  opacity: 0.75;

  border-right: none;
  border-top: none;
  border-left: none;
  background-color: transparent;
  outline: none;

  font: 14px;
}

input[type=text]::placeholder {
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
}

input[type=submit] {
  background: rgba(255,255,255,.2);
  width: 100%;
  padding: 2vh;
  border: none;
  cursor: pointer;
  border-radius: 4px 4px;
}

table {
  width: 82vw auto;
  max-width: 82vw;
}

table, th, td {
  border-collapse: collapse;
  /*padding: 1rem 0;
  width: 125px;*/
}

thead th {
  position: sticky;
  top: 0;

  background-color: #d5d1defe;
}

select {
  width: 100px;
  max-width: 100px;
  padding: 0.6em 1.2em;

  border-radius: 4px;
  border: none;
  outline: none;

  box-shadow: 0 5px 5px rgba(0,0,0,0.2);

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
}

select:hover {
  background-color: #6c757d;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  dialog {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }

  table {
    width: 100%;
    min-width: 100%;
  }
}
